.heading_div {
    grid-area: header;
    margin: 0 2vw;
}

.recruitment_img {
    grid-area: img;
}

.recruitment_places {
    grid-area: places;
}

.recruitment_content {
    display: grid;
    grid-template-areas: 'header header header header header header'
        'img img img places places places'
        'img img img places places places';
    grid-template-columns: repeat(6, 1fr);
    width: 50vw;
    margin: 20px auto 30px;
}

.recruitment_content img{
    max-width: 100%;
}

.heading_div h1{
    font-family: 'Inter';
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 10px;
}

.heading_div h4{
    font-family: 'Inter';
    font-size: 22px;
    font-weight: 400;
    margin-top: 10px;
}

.recruitment_content p{
    font-family: 'Inter';
    font-size: 20px;
    line-height: 1.5;
    padding-left: 2vw;
}

.recruitment_content p b{
    font-size: 24px;
}

.dot{
    margin-right: 8px;
}

@media screen and (max-width: 1100px) {
    .recruitment_content {
        grid-template-areas: 'header header header header header header'
            'img img img img img img'
            'places places places places places places';
        grid-template-columns: repeat(6, 1fr);
        width: 80vw;
        margin: auto;
    }

    .heading_div h1, .heading_div h4{
        text-align: center;
    }

    .recruitment_content p{
        width: fit-content;
        margin: 20px auto;
    }
}

@media screen and (max-width: 500px) {
    .recruitment_content{
        width: 90vw;
    }

    .heading_div h1{
        font-size: 30px;
    }

    .heading_div h4{
        font-size: 20px;
    }
}

@media screen and (max-width: 300px) {
    .recruitment_content{
        width: 90vw;
    }

    .heading_div h1{
        font-size: 24px;
    }

    .heading_div h4, .recruitment_content p{
        font-size: 18px;
    }
}